.title{
    text-align: center;
    color: #5b3a8d;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}

.title h2{
    font-size: 32px;
    
    color: #3b1d57;
    margin-top: 5px;
    text-transform: none;
}